//- Used a bit of the html to pug converter Kluver linked, but had to delete like all the raw python which slowed things down.
doctype html
html(lang="en")
    head
        title Orders
        link(rel='stylesheet' href='/css/main.css')
        meta(charset='UTF-8')
    body
        include nav_bar
        #title.flex-container
            h2 Orders
        //filtering options
        form(method="get" action="/admin/orders")
            .form-group
                label(for="query") Search From:
                input#query(type="text" name="query" value=sender_raw placeholder="Note: Case-insensitive")
            .form-group
                label(for="order_number") Order #:
                input#order_number(type="text" name="order_number" value=order_number_raw)
            .form-group
                label(for="status") Status:
                select#status(name="status")
                    //checking if the passed in status_raw matches the option value.
                    option(value="" selected=(status_raw === '')) Any
                    option(value="Delivered" selected=(status_raw === 'Delivered')) Delivered
                    option(value="Shipped" selected=(status_raw === 'Shipped')) Shipped
                    option(value="Placed" selected=(status_raw === 'Placed')) Placed
                    option(value="Cancelled" selected=(status_raw === 'Cancelled')) Cancelled
            button(type="submit") Search

        //- this div only renders if search_message isnt empty
        if search_message
            #shipping-status.flex-container
                p!= `Currently filtering orders by ${search_message}`

        //main orders table
        table
            thead
                tr
                    th #
                    th Status
                    th Cost
                    th From
                    th Address
                    th Product
                    th Notes
                    th Time placed
                    th Shipping Type
            tbody
                if (error_message)
                    //- just print out the error message if one exists
                    tr
                        td(colspan="9")= error_message

                else if (filtered_orders.length === 0)
                    //- no matching orders found
                    tr
                        td(colspan="9") No orders found matching the selected filters. (Double check the database connection is working).

                else
                    //- order(s) found, append them to the table
                    each order in filtered_orders

                        tr
                            td: a(href=`/tracking/${order.id}`)= order.id
                            td= order.status
                            td= typeset_dollars(order.cost)
                            td= order.from_name
                            td!= order.address
                            td= order.product
                            td= order.notes ? order.notes : "N/A"
                            td= format_date(order.order_date)
                            td= order.shipping