doctype html
html(lang="en")
    head
        title= `Order Tracking for #${order.id}`
        link(rel='stylesheet' href='/css/main.css')
        meta(charset='UTF-8')
    body
        include nav_bar
        #title.flex-container
            h2= `Tracking Order #${order.id}`

        #main-page.flex-container
            //Left Box with order info
            #body-text.flex-container
                #shipping-status.flex-container
                    p= statusMessage

                table#single-order
                    tr
                        th ID
                        td= order.id
                    tr
                        th STATUS
                        td#current-status= order.status
                    tr
                        th COST
                        td= typeset_dollars(order.cost)
                    tr
                        th FROM
                        td= order.from
                    tr
                        th ADDRESS
                        td!= order.address
                    tr
                        th PRODUCT
                        td= order.product
                    tr
                        th NOTES
                        td= order.notes ? order.notes : "N/A"
                    tr
                        th ORDER DATE
                        td= formattedOrderDate
                    tr
                        th SHIPPING
                        td= order.shipping

            //right-side box that allows you to edit the order
            //note that it doesn't appear if the order status is "Placed"
            if orderStatus === 'placed'
                #body-text.flex-container
                    #shipping-status.flex-container(style='flex-direction:column;')
                        h3 Order Management
                        p#countdown-timer(
                            data-order-date=order.orderDate,
                            data-order-status=orderStatus,
                            data-order-id=order.id
                        ) Time remaining until order ships: Calculating...

                    //the update order form
                    form(method="POST" action="/update_shipping" class="flex-container" id="shipping-status" style="flex-direction: column; padding: 10px;")
                        label(for="delivery-address" style="padding:10px") Delivery Address:
                        br
                        textarea#delivery-address(name="address" required rows="4" cols="50")= addressForTextarea

                        div(style="margin: 20px")
                            label(for="flat") Flat rate
                            // 'checked' attribute is true or false based on the variable
                            input#flat(type="radio" name="shipping" value="Flat rate" checked=isFlat)
                            br
                            label(for="ground") Ground
                            input#ground(type="radio" name="shipping" value="Ground" checked=isGround)
                            br
                            label(for="expedited") Expedited
                            input#expedited(type="radio" name="shipping" value="Expedited" checked=isExpedited)

                        label(for="delivery-notes" style="padding:10px") Delivery Notes:
                        br
                        textarea#delivery-notes(name="notes" rows="4" cols="50")= notesForTextarea

                        button(type="submit") Update Order
                        input(type="text" name="id" value=order.id hidden)

                    //cancel button
                    .flex-container(style="justify-content:center;")
                        button#cancel-order-button.cancel-button(type="button") Cancel Order
                    #cancel-message-area(style="margin-top: 15px; font-weight: bold;")
        script(src='/js/update.js')